<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" type="text/css"  th:href="@{/style.css}">
</head>
<body>
	<form th:action="@{/changePassWord}" method="post">
		<div class="box">
			<div class="box-content">
				<input type="password" name="passWord" placeholder="请输入旧密码">
				<br /> <input type="password" placeholder="请输入新密码"
					name="newPassWord"> <br /> <br />
				<button id="changepwbutt" type="submit">确认</button>
			</div>
		</div>
	</form>
	<script>
    </script>

</body>

</html>