<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" type="text/css"  th:href="@{/css/style.css}">
</head>
<body>
	<h2>更新プログラム</h2>
	<div class="box">
		<div class="box-content">
			<form th:action="@{/updateInfo}" method="post">
				<table th:each="addressResult,state:${addressResult}">
					<tr>
						<td>アドレス帳名:</td>
						<td><input type="text" name="abName"
							th:value="${addressResult.abName}" readonly="readonly"></td>
					</tr>
					<tr>
						<td>所有者グループ:</td>
						<td><select name="classGroup" th:value="${addressResult.classGroup}">
								<option></option>
								<option value="1">1</option>
								<option value="2">2</option>
						</select></td>
					</tr>
					<tr>
						<td>登録者:</td>
						<td><input type="text" name="registerName"
							th:value="${addressResult.registerName}"></td>
					</tr>
					<tr>
						<td>項目:</td>
						<td><input type="text" name="projectName"
							th:value="${addressResult.projectName}"></td>
					</tr>
				</table>
					<button type="submit" id="change-btn">更新</button>
			</form>
		</div>
	</div>
</body>
<script>
</script>
</html>